.wrapper {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    overflow: hidden;
}

.mapIcon {
    position: absolute;
    left: 220px;
    top: 90px;
    z-index: 10;
}

.mapIconPatch {
    position: absolute;
    left: 210px;
    top: 80px;
    z-index: 1;
    width: 35px;
    height: 850px;
    background: #2E5E79;
    color: #2E5E79;
}

